[Desktop Entry]
Keywords=FOSSEE updates
Name=FOSSEE-updates
Comment=FOSSEE updates
Exec=bash /opt/noNoise-master/noNoise.sh
#Icon=/opt/FOSSEE-netbook-patcher/patcher.png
Terminal=false
Type=Application
MimeType=text/plain
Categories=GTK;Other;
